
<div class="border">
	

	<div class="border-content">
		<form action ='/settings' method="POST">
			<div class="form-group">
				<label>Логин</label>
				<input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" value= <%= $client.username %>>
			</div>
	</div>
	<br>
	<div class="border-content">
		<div class="form-group">
			<label>Пароль</label>
			<input name="old_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Прежний пароль"><br>
			<input name="new_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Новый пароль"><br>
			<input name="new_pass_check" type="password" class="form-control" id="exampleInputPassword1" placeholder="Подтверждение нового пароля">
		</div>
	</div>
	<br>
	<div class="border-content">
		<label>Телефоны</label><br>
		
			<div class="border-content">
				<label>Добавить телефон</label>
				<input name="phone" type="text" class="form-control"  placeholder="Ваш телефон">
			</div><br>
			<div class="border-content">
				<label>Указанные</label>
			<div class="form-group">
				<span style="font-size: 85%">Вы сможете выбирать один из указанных телефонов при написании объявления. Это удобно.
				</span><br>
				<ul class="list-group">
					<%client_phone.split(", ").each do |phone|%>					
						<li class="list-group-item"><%= phone%></li>					
					<%end%>
				</ul>
			</div>
			<br>
		</div>
	</div>
	<br>
		<button type="submit" class="btn btn-default">Готово</button>
	</form>
</div>