<div class="border">
	<h3><span class="glyphicon glyphicon-stats"></span>  Статистика пользователя:</h3><br>
	<p><b>Имя пользователя:</b> <%=$user.username%></p>
	<p><b>Репутация:</b> <%=$user.reputation%></p>
	<p><b>Дата регистрации:</b> <%=$user.created_at%></p>
	<p><b>Всего объявлений:</b> <%=$user.total_ads%></p>
</div>